<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Example</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
        h1, a, p {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: #333;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/">Contact Us</a>
        <a href="https://www.adidas.com/">Some Link</a>
    </nav>
    <h1>Whether Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>URL example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p>All data from one station: http://127.0.0.1:5000/api/v1/10</p>
    <p>One year data from one station: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
    
    <p>{{data|safe}}</p>
</body>
</html>